[submodule "ocpp-client-service"]
	path = ocpp-client-service
	url = https://github.com/agruenb/ocpp-client-service.git
[submodule "ocpp-management-service"]
	path = ocpp-management-service
	url = https://github.com/agruenb/ocpp-management-service.git
[submodule "realtime-ocpp-web-ui"]
	path = realtime-ocpp-web-ui
	url = https://github.com/agruenb/realtime-ocpp-web-ui.git
[submodule "test/ocpp-tester"]
	path = test/ocpp-tester
	url = https://github.com/agruenb/ocpp-tester.git
